<div class="container">

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form ng-submit="editProfile()">
			<fieldset>
				<h2>Edit Profile</h2>
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="text" name="lastName" id="lastName" class="form-control input-lg" placeholder="lastName" required="true">
				</div>
				<div class="form-group">
                 <input type="text" name="firstName" id="firstName" class="form-control input-lg" placeholder="firstName" required="true">
				</div>
				<div class="form-group">
                    <input type="text" name="position" id="diplomas" class="form-control input-lg" placeholder="current position" required="true">
				</div>
				<div class="form-group">
                    <input type="text" name="description" id="description" class="form-control input-lg" placeholder="description" required="true">
				</div>
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" required="true">
				</div>
				<div class="form-group">
                    <input type="text" name="cle" id="password" class="form-control input-lg" placeholder="Key competence" required="true">
				</div>


				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Save">
					</div>

				</div>
			</fieldset>
		</form>
	</div>
</div>

</div>
